<app-reactiveform1></app-reactiveform1>
<P style="background-color: rgb(40, 30, 177);">.</P>
<app-reactiveform2-validation></app-reactiveform2-validation>
<P style="background-color: rgb(30, 140, 177);">.</P>
<app-reactiveform3withradiodropdown></app-reactiveform3withradiodropdown>
<P style="background-color: rgb(40, 30, 177);">.</P>
<app-reactiveform4customvalidation></app-reactiveform4customvalidation>
<P style="background-color: rgb(40, 30, 177);">.</P>
<P style="background-color: rgb(40, 30, 177);">.</P>
<P style="background-color: rgb(40, 30, 177);">.</P>
<P style="background-color: rgb(40, 30, 177);">.</P>
<P style="background-color: rgb(40, 30, 177);">.</P>
<P style="background-color: rgb(40, 30, 177);">.</P>
<P style="background-color: rgb(40, 30, 177);">.</P>

<router-outlet></router-outlet>

