<!-- <app-reactiveform1></app-reactiveform1>
<P style="background-color: rgb(40, 30, 177);">.</P>
<app-reactiveform2-validation></app-reactiveform2-validation>
<P style="background-color: rgb(30, 140, 177);">.</P>
<app-reactiveform3withradiodropdown></app-reactiveform3withradiodropdown>
<P style="background-color: rgb(40, 30, 177);">.</P>
<app-reactiveform4customvalidation></app-reactiveform4customvalidation>
<P style="background-color: rgb(40, 30, 177);">.</P>
<app-reactiveform5setvalueandpatchvalue></app-reactiveform5setvalueandpatchvalue>
<P style="background-color: rgb(40, 30, 177);">.</P>
<app-reactiveform6nestedform></app-reactiveform6nestedform> -->
<P style="background-color: rgb(40, 30, 177);">.</P>
<app-reactiveform7formbilder></app-reactiveform7formbilder>
<P style="background-color: rgb(40, 30, 177);">.</P>
<app-reactiveform8deletehobbytask></app-reactiveform8deletehobbytask>
<P style="background-color: rgb(40, 30, 177);">.</P>
<P style="background-color: rgb(40, 30, 177);">.</P>
<P style="background-color: rgb(40, 30, 177);">.</P>

<router-outlet></router-outlet>

